.mdl-card {
  /* Workaround for apparently weird layout in mdl. */
  width: 100%;
}

.selectProgrammeButton {
  margin-bottom: 15px;
}

.programme-buttons-list {
  margin-bottom: 15px;
}

.vacation-mode {
  margin-bottom: 15px;
}

em {
  margin-left: 3px;
  margin-right: 3px;
}
.vacation-mode__on-title--active {
  background: rgb(63,81,181);
  color: rgb(255,255,255);
}

.vacation-mode__start-stop-button {
  width: 100%;
}

.vacation-mode--hidden {
  display: none;
}

.light-values-table {
  margin-bottom: 15px;
}

.light-button {
  margin-bottom: 15px;
  cursor: pointer;
}

.current-light-values {
  width: 100%;
}

.loading-spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
