---
extends:
  - "defaults/configurations/google"
rules:
  no-new: 2
  max-len: [2, 120]
  space-before-function-paren: [2, {"anonymous": "always", "named": "never"}]
  dot-location: [2, "property"]
  key-spacing: [2, {"beforeColon": false, "afterColon": true, "mode": "minimum"}]
globals:
  require: false
  module: false
  setTimeout: false
  document: false
