---
title: Verlichting
---

<div class="container-fluid">
  <div class="error  col-xs-12 col-lg-offset-4 col-lg-4"></div>
  <div class="notice col-xs-12 col-lg-offset-4 col-lg-4"></div>

  <div id="programmeButtons" class="col-xs-12 col-lg-offset-4 col-lg-4">
  </div>

  <div class="col-xs-12">
    <label>
      <input type="checkbox" id="auto_off">Auto off
    </label>
  </div>

  <h1 class="col-xs-12">Scheduled jobs</h1>
  <div id="schedule" class="col-xs-12"></div>

  <h1 id="lightsTitle" class="col-xs-12 col-lg-offset-4 col-lg-4">Lights</h1>
  <div id="lights" class="col-xs-12 col-lg-offset-4 col-lg-4">
  </div>
</div>
