---
title: Welcome to Middleman
---

<div class="container-fluid">
  <ul class="programmes">
  <% %w[off regular dimmed night morning].each do |programme| %>
    <li class="row">
      <button type="button" class="col-xs-12 col-sm-12 col-lg-offset-4 col-lg-4 selectProgramme btn btn-lg btn-default" data-programme-name="<%= programme %>"><%= programme.capitalize %></button>
    </li>
  <% end%>
  </ul>

  <label>
    <input type="checkbox" id="auto_off">Auto off
  </label>

  <h1>Scheduled jobs</h1>
  <div id="schedule">
  </div>
  <div class="row error"></div>
  <div class="row notice"></div>
</div>
