<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Verlichting</title>

  <% material_css = is_production ? fingerprinted_file("source/stylesheets/material.indigo-pink.min.css") : 'material.indigo-pink.min.css' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/stylesheets/<%= material_css %>">

  <% all = is_production ? fingerprinted_file("source/stylesheets/all.css") : 'all.css' %>
  <link href="/stylesheets/<%= all %>" rel="stylesheet" type="text/css" />

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <% if ENV['LOCAL_JQUERY'] %>
    <script src="javascripts/jquery.min.js" integrity="sha384-nrOSfDHtoPMzJHjVTdCopGqIqeYETSXhZDFyniQ8ZHcVy08QesyHcnOUpMpqnmWq" crossorigin="anonymous"></script>
  <% else %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" integrity="sha384-nrOSfDHtoPMzJHjVTdCopGqIqeYETSXhZDFyniQ8ZHcVy08QesyHcnOUpMpqnmWq" crossorigin="anonymous"></script>
  <% end %>

  <% my_zwave = is_production ? fingerprinted_file("tmp/javascripts/my_zwave.min.js") : 'my_zwave.js' %>
  <%# Inline the material script since it's not possible to set an SRI hash - getmdl.io doesn't set the correct CORS header %>
  <% material_js = is_production ? fingerprinted_file("tmp/javascripts/material.min.js") : 'material.min.js' %>

  <script defer src="/javascripts/<%= material_js %>"></script>
  <script src="/javascripts/<%= my_zwave %>" type="text/javascript"></script>
</head>
<body role="document" class="index">

<div class="mdl-grid">
  <div class="mdl-snackbar mdl-js-snackbar js-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action"></button>
  </div>

  <div class="mdl-cell--12-col mdl-cell--4-col-desktop mdl-card mdl-shadow--2dp programme-buttons-list">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">Programma's</h3>
    </div>
    <div class="mdl-card__supporting-text programme-button-list">
      <div class="loading-spinner-container">
        <div class="loading-spinner mdl-spinner mdl-js-spinner is-active"></div>
      </div>
    </div>
  </div>

  <div class="vacation-mode mdl-cell--12-col mdl-cell--4-col-desktop mdl-card mdl-shadow--2dp js-vacation-mode--off vacation-mode--hidden">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">Vacation mode is <em>OFF</em></h3>
    </div>
    <div class="mdl-card__supporting-text">
      <div id="plan-vacation">
        <p>Average on-time: <input id="start-time" type="time" value="18:30" data-target="vacation-mode__start-time">
        <p>Average off-time: <input id="end-time" type="time" value="22:30" data-target="vacation-mode__end-time">
      </div>
    </div>
    <div class="mdl-card__actions mdl-card__border">
      <button class="vacation-mode__start-button mdl-button mdl-js-button mdl-js-ripple-effect" data-behavior="start-vacation">Start</button>
    </div>
  </div>
  <div class="vacation-mode mdl-cell--12-col mdl-cell--4-col-desktop mdl-card mdl-shadow--2dp js-vacation-mode--on vacation-mode--hidden">
    <div class="mdl-card__title vacation-mode__on-title--active">
      <h3 class="mdl-card__title-text">Vacation mode is <em>ON</em></h3>
    </div>
    <div class="mdl-card__supporting-text">
      <p>Average on-time: <span data-target="vacation-mode__start-time"></span>
      <p>Average off-time: <span data-target="vacation-mode__end-time"></span>
    </div>
    <div class="mdl-card__actions mdl-card__border">
      <button class="vacation-mode__stop-button mdl-button mdl-js-button mdl-js-ripple-effect" data-behavior="stop-vacation">Stop</button>
    </div>
  </div>

  <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col mdl-cell--4-col-desktop light-values-table">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text js-reload-lights">Lichten</h3>
    </div>
    <div id="lights" class="mdl-card__supporting-text">
    </div>
  </div>

  <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col">
    <div class="mdl-card__title">
      <h3 class="mdl-card__title-text">Latest events</h3>
    </div>
    <div class="js-latest-events mdl-card__supporting-text">
    </div>
  </div
</div>

<!-- Modal -->
<dialog class="mdl-dialog login-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="mdl-dialog__title">Please login</div>
  <div class="mdl-dialog__content">
    <div class="mdl-textfield mdl-js-textfield">
      <input type="text" id="username" name="username" class="mdl-textfield__input" value="lennaert"/>
      <label for="username" class="mdl-textfield__label">Username</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input type="password" id="password" name="password" class="mdl-textfield__input" value="jajadus"/>
      <label for="password" class="mdl-textfield__label">Password</label>
    </div>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button mdl-js-button submit">Submit</button>
  </div>
</dialog>

</body>
</html>
